* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3rem;
    background-color: black;
}

section {
    position: relative;
    overflow: hidden;
    height: 1000px;
    background-size: cover;
}

h2 {
    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.caption {
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    background: white;
}

#cap1 {
    top: 100px;
    right: 200px;
    width: 25%;
}

#cap2 {
    bottom: 150px;
    left: 150px;
    width: 15%;
}

#cap3 {
    bottom: 100px;
    left: 200px;
    width: 40%;
}

#cap4 {
    top: 100px;
    left: 500px;
    width: 10%;
}

#cap5 {
    bottom: 200px;
    right: 150px;
    width: 50%;
}

#parallaxsec1 {
    background: url(../img/bg1.jpg) no-repeat fixed;
    z-index: 5;
}

#parallaxsec2 {
    background: url(../img/bg2.jpg) no-repeat fixed;
    z-index: 4;
}

#parallaxsec3 {
    background: url(../img/bg3.jpg) no-repeat fixed;
    z-index: 3;
}

#parallaxsec4 {
    background: url(../img/bg4.jpg) no-repeat fixed;
    z-index: 2;
}

#parallaxsec5 {
    background: url(../img/bg5.jpg) no-repeat fixed;
    z-index: 1;
}