* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3rem;
}

h2 {
    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.caption {
    position: absolute;
}

#cap1 {
    top: 100px;
    right: 200px;
    width: 25%;
}

#cap2 {
    bottom: 100px;
    left: 150px;
    width: 10%;
}

#cap3 {
    top: 300px;
    right: 300px;
    width: 40%;
}

#cap4 {
    top: 100px;
    left: 500px;
    width: 10%;
}

#cap5 {
    bottom: 200px;
    right: 150px;
    width: 50%
}

#parallaxsec1 {
    background: url(https://earlygame.com/uploads/images/_galleryItem2x_webp/40904/Camille-Wallpaper.webp) no-repeat fixed;
    background-size: cover;
    height: 1000px;
}

#parallaxsec2 {}